<!-- browser usage -->

<body style="font-family:monospace; color: whitesmoke;background-color: black">
  <h2>&gt;&nbsp;orb-core: processing...</h2>
  <h3 id='res' style="color: chartreuse"></h3>
</body>

<script src="../orb.core.min.js"></script>
<script>
  new Matcher("<%= X%>", "<%= Y%>",
      async function (q) {
        var res = await q;
        document.getElementById('res').innerHTML = JSON.stringify(res);
      },
      {
      query: 'matches',
      leniency: 30,
      params: {
      lap_thres: 30,
      eigen_thres: 35
      }
      }
      );

</script>
